* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}
html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #7f56d9;
  --primary-text: #6941c6;
  --green-text: #027a48;
  --red-text: #c11574;
  --normal-color: #101828;
  --gray-color: #667085;
}

body {
  /* width: 1440px; */
  display: flex;
  justify-content: center;
}

.btn_item {
  height: 2rem;
  padding: 2px 1rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  border: none;
}

.landing {
  width: 1440px;
  padding: 0 11.2rem;
}

.head {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 9.6rem 0;
}
.head_form {
  display: flex;
  flex-direction: row;
}
.head h4 {
  color: var(--primary-color);
  font-size: 1.6rem;
}
.head h1 {
  color: var(--normal-color);
  height: 6rem;
  line-height: 6rem;
  margin: 1.2rem 0 2.4rem 0;
  font-size: 4.8rem;
}
.head p {
  color: var(--gray-color);
}

.head_description {
  width: 76.8rem;
  text-align: center;
  font-size: 2rem;
}
.head_form {
  margin-top: 4rem;
}
.head input {
  width: 36rem;
  height: 4.8rem;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 1.2rem 1.6rem;
}
.head_form p {
  font-size: 1.4rem;
  line-height: 2rem;
  height: 2rem;
  margin-top: 8px;
}

.head_form span {
  text-decoration: underline;
}

.head button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  border: none;
  width: 11.8rem;
  height: 4.8rem;
  margin-left: 1.6rem;
}

/* recent / ALL*/

.recent h2, .all h2{
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.recent, .all{
  padding: 0px 0px 9.6rem;
}

.all_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.under img{
  width: 38.4rem;
  height: 24rem;
}
.under p {
  height: 4.8rem;
}
.under{
  width: 38.4rem;
  height: 44.4rem;
  flex-direction: column;
}

.under .card-text {
  width: 38.4rem;
  height: 17.2rem;
  
  padding-left: 0rem;
  padding-top: 2.4rem; 
}

.recent_content {
  display: flex;
  justify-content: space-between;
}
.recent_left {
  width: 59.2rem;
  height: 22.8rem;
}
.card h6 {
  font-size: 1.4rem;
  color: var(--primary-text);
  height: 2rem;
  line-height: 2rem;
}

.card h5 {
  font-size: 2.4rem;
  color: var(--normal-text);
  height: 3.2rem;
  line-height: 3.2rem;
}


.card-row {
  display: flex;
}

.upper {
  flex-direction: row;
  width: 59.2rem;
  height: 20rem;
}

.upper img {
  width: 32rem;
  height: 20rem;
}
.card-big {
  height: 43.2rem;
}
.card-big h6 {
  margin: 3.2rem 0 1.2rem 0;
}

.card-big h5 {
  margin: 1.2rem 0 1.2rem 0;
}

.card-big p {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.card-row h5 {
  margin: 1.2rem 0 0.8rem 0;
}

.upper p {
  height: 7.2rem;
  line-height: 2.4rem;
}

.card-row div.p {
  word-break: break-all;
}


.card_buttons {
  margin-top: 2.6rem;
  margin-bottom: 1.6rem;
}
.recent_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-row h5 {
  font-size: 1.8rem;
}
.upper .card-text {
  padding-left: 2.4rem;
}
